@import '../../stylesheets/variables';

.project-manage-container{
    flex-basis: 100%;
    padding: 1rem;
    .layout-container{
        margin: 0 auto;
        display: flex;
        justify-content:space-around;
        position:relative;
    
    }
}