@import '../../stylesheets/variables';

.project-selection {
	width:100%;
	margin: 0 auto;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-around;
	position: relative;
	animation: 2s fade-in;
	ul{
		width:80%;
		margin:0;
		padding:0;
		display: flex;
		flex-flow: column;
		flex-wrap: nowrap;
		li {
			border: 1px solid $color-primary-grey;
			display:flex;
			justify-content: space-between;
			background: $color-background-white;
			margin: .25rem 0px;
			&.selected {
				border: 1px solid $color-secondary-orange;
			}
			&:hover{
				cursor: pointer;
			}
			.card-container{
				flex-grow:3;
			}
		}
	}
}

