@import 'variables';

form {
	padding:1rem;
	transition: color 2s, border 2s;
	background-color:$color-background-white;
}

.form-group {
	padding:.5em 0;
	display: flex;

	label {
		padding: 0.5rem;
		width: 25%;
		justify-content: center;
	}
	input {
		height: 1rem;
	}
	input[type='button']{
		padding: 1rem;
	}
}

label, 
input,
textarea {
	display:inline-block;
}

label {
  	text-align: right;
	font: 1rem;
	padding:.25rem 0;
}

input, 
textarea {
	border:1px solid $color-primary-grey;
	padding: .5rem;
	width: 50%;
}

textarea{
	height: 8rem;
	resize:none;
}

input[type='submit'], 
input[type='button'] {
	width: fit-content;
	margin: 0 .25rem;
	border: 1px solid $color-secondary-orange;
	padding: 1.5rem 2rem;
	background-color: $color-background-white;
	color: $color-primary-grey;
	font-family: $font-stack;
	font-weight: lighter;
	font-size:1em;
	align-self: center;
	line-height: 0;
	cursor: pointer;
	
	&:hover{
		border: 1px solid $color-secondary-orange-highlight;
		color: $color-secondary-orange-highlight;
	}
}
