$font-stack: helvetica, arial, sans-serif;
$color-primary-grey: #666;
$color-secondary-orange: #e26e26;
$color-secondary-orange-highlight: #fe8438;
$color-background-grey: #eee;
$color-background-white: white;