@import '../../stylesheets/variables';

.artwork-manage-container{
    flex-basis: 100%;
    .layout-container{
        padding:1rem;
        margin: 0 auto;
        display: flex;
        justify-content:space-around;
        position:relative;
    }
}